@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* configurações padrão */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Classes */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.texto-centralizado {
  text-align: center;
}

/* Cor */
.texto-primario {
  color:#3b90f0;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.bg-primario {
  background: #3b90f0;
  color: #fff;
}

.cabecalho {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.cabecalho-m {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.paragrafo {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #3b90f0;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: green;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.lista {
  margin: 0.5rem 0;
  list-style: none;
}

.lista li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* menu navbar*/
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: rgb(26, 25, 25);
  color: rgb(255, 255, 255);
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.7rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #3b90f0;
  border-radius: 5px;
}

/* Principal */
#principal {
  background: rgb(5, 5, 5) url("../img/principal.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

/* flex-box */
#principal .conteudo-principal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;

  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}


#servicos .itens {
  
  display: flex;

  padding: 1rem;
}

#servicos .itens .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#servicos .itens .item i {
  background: #3b90f0;
  /* Entre o icone e o background*/
  padding: 1rem;
  border-radius: 50%;
  /* Entre o nome e o ícone*/
  margin-bottom: 1rem;
}

/* Quem Somos */
#quem {
  display: flex;
}

#quem div {
  flex: 1;
}

#quem .quem-img {
  background: url("../img/equipe\ 1.jpg") no-repeat center center/cover;
}

/* Clientes */

/* Formulário */
.fundo-form {
  background: url(../img/fundoo.jpg) center;
  background-size: cover;
  padding: 50px 0;
}

.formulario {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .8);
  padding: 20px;
}

.formulario label {
  display: flex;
}

.formulario input, .formulario textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.formulario input:hover, .formulario input:active, .formulario textarea:hover, .formulario textarea:active {
  background: #3b8ff022;
}

.enviar {
  background: #3b90f0;
  color:#fff;
  padding: 10px 60px;
  border: 1px solid #3b90f0;
  
}

.enviar:hover, .enviar:active {
  background: #fff;
  color: #3b90f0;
  border: 1px solid #3b90f0;
} 

/* footer*/

.fundo-rodape {
  background: #333;
  border-bottom: #333 8px solid;
}

footer {
  color: rgb(248, 248, 248);
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 0;
}

