/* Empilhando os itens */
#servicos .itens {
  display: block;
  padding: 1rem;
}

/* Alinhando o ícone na esquerda */
#servcos .itens .item {
  display: flex;
  text-align: left;
}

#servicos .itens .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #principal .conteudo-principal {
    top: 110px;
  }

  #quem {
    display: block;
  }

  #quem .quem-img {
    display: none;
  }

  #clientes .itens img {
    width: 80%;
  }

  #clientes .itens div:last-child {
    display: none;
  }

  #contato {
    flex-direction: column;
  }

  #contato .mapa {
    height: 200px;
    border-top: 4px solid #333;
  }
}

@media (max-height: 568px) {
  #principal .conteudo-principal {
    margin-top: -2rem;
    top: 140px;
  }

  .cabecalho {
    font-size: 3rem;
  }

  .paragrafo {
    font-size: 1rem;
  }
}
